/*Body*/
:root{
    --normalBorder: 2px solid Black;
    --backColor: gray;
    --backColorHover: rgb(86, 86, 86);
    --backColorTable: rgb(206, 206, 206);
}
*{
    user-select: none;
}
body{
    height: 100%;
    width: 100%;
}
.amount{
    position: absolute;
    font-weight: bold;
}
.btn {
    position: absolute;
    color: black;
    padding: 5px 10px;
    box-shadow: -3px -3px black;
    background-color: var(--backColor);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s ease;
 
    &:hover,
    &:focus,
    &:focus-visible,
    &:focus-within {
       background-color: var(--backColorHover);
    }
 }
 .btnLeft {
    position: absolute;
    color: black;
    padding: 5px 10px;
    box-shadow: -3px -3px black;
    background-color: var(--backColor);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s ease;
 
    &:hover,
    &:focus,
    &:focus-visible,
    &:focus-within {
       background-color: var(--backColorHover);
    }
 }
 .artBtn{
    position: relative;
    color: black;
    padding: 5px 10px;
    text-align: center;
    box-shadow: -3px -3px black;
    background-color: var(--backColor);
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s ease;
 
    &:hover,
    &:focus,
    &:focus-visible,
    &:focus-within {
       background-color: var(--backColorHover);
    }
 }
.box{
    display:flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
h1{
    color: black;
    text-decoration: none;
    text-align: center;
}
h3{
    display: block;
    text-align: center;
    color: black;
}
.gallery img{
    border: none;
}
img{
    border: var(--normalBorder);
}
a{
    text-decoration: none;

    & .description{
        text-align: center;
        color: black;
        text-decoration: none;
    }
}
/*Gallery*/
.gallery{
    width: fit-content;
    border: var(--normalBorder);
    border-radius: 5px;
    cursor: pointer;
    transition: filter 0.3s ease;

    &:img{
        border: none;
    }
}
.gallery .description{
    list-style-type: none;
    padding-block: 10px;
    text-align: center;
    font-weight: bold;
    color: black;
}
.gallery:hover{
    filter: brightness(1.1);
}
/*Images*/
#qrCodeImg{
    border: none;
}
/*Dropdown*/
#settingLogo{
    position: absolute;
    display: block;
    border: none;

    &:hover,
    &:focus {
        filter: brightness(0.9);
    }
}
.dropdownMenu{
    display: none;
    flex-direction: column;
    position: absolute;
    padding: 30px;
}
.topLi{
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    background-color: var(--backColor);
    border: var(--normalBorder);
    text-align: center;
    color: black;

    &:hover,
    &:focus{
        background-color: var(--backColorHover);
    }
}
li{
    list-style: none;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--backColor);
    border: var(--normalBorder);
    border-top: none;
    text-align: center;
    color: black;

    &:hover,
    &:focus{
        background-color: var(--backColorHover);
    }
}
input{
    display: none;
}
input:checked ~ ul{
    display: flex;
}
/*Tables*/
.tableTop{
    position: absolute;
    background-color: black;
    text-align: center;
}
.tableTop th{
    background-color: var(--backColorTable);
    padding: 5px;
    
}
.tableTop td{
    background-color: var(--backColorTable);
    padding: 5px;
    
}
.tableMiddle{
    position: absolute;
    background-color: black;
    text-align: center;
}
.tableMiddle th{
    background-color: var(--backColorTable);
    padding: 5px;
}
.tableMiddle td{
    background-color: var(--backColorTable);
    padding: 5px;
}
.tableBottom{
    position: absolute;
    background-color: black;
    text-align: center;
}
.tableBottom th{
    background-color: var(--backColorTable);
    padding: 5px;
}
.tableBottom td{
    background-color: var(--backColorTable);
    padding: 5px;
}
@media(min-width: 1536px){
  /*Body*/
  body{
      min-width: 1536px;
  }
  h1{
    font-size: 2.5vw;
  }
  .btn {
    top: 20px;
    right: 25px;
    border-radius: 10px;
    font-size: 2vw;
  }
  .btnLeft {
    top: 20px;
    left: 25px;
    border-radius: 10px;
    font-size: 2vw;
  }
  .artBtn{
    top: 200px;
    font-size: 6vw;
  }
  /*Dropdown menu*/
  #settingLogo{
    width: 4%;
    height: auto;
    top: 5%;
    right: 2.5%;
  }
  .dropdownMenu{
    top: 8%;
    right: 0px;
    font-size: 1.4rem;

  }
  .gallery{
    height: 200px;
  }
  .tableTop{
    top: 50%;
    font-size: 1.3vw;
  }
  .tableMiddle{
    top: 65%;
    font-size: 1.3vw;
  }
  .tableBottom{
    top: 80%;
    font-size: 1.3vw;
  }
  /*Images*/
  #qrCodeImg{
    width: 35%;
    height: auto;
  }
  #ship{
    width: 50%;
    height: auto;
  }
  .gallery img{
    height: 80%;
    width: auto;
  }
  .amount{
    top: 88%;
    font-size: 2.2vw;
  }
  img{
    width: 13%;
    height: 80%;
  }
  .sideviewImg{
    width: 30%;
    height: 80%;
  }
}
@media(max-width: 1536px){
  /*Body*/
  body{
      max-width: 1536px;
      background-color: green;
  }
  h1{
    font-size: 2.5vw;
  }
  .btn {
    top: 20px;
    right: 25px;
    border-radius: 10px;
    font-size: 2vw;
  }
  .btnLeft {
    top: 20px;
    left: 25px;
    border-radius: 10px;
    font-size: 2vw;
  }
  .artBtn{
    top: 200px;
    font-size: 6vw;
  }
  /*Dropdown menu*/
  #settingLogo{
    width: 4%;
    height: auto;
    top: 5%;
    right: 2.5%;
  }
  .dropdownMenu{
    top: 8%;
    right: 0px;
    font-size: 1.4rem;
  }
  .gallery{
    height: 200px;
  }
  .tableTop{
    top: 50%;
    font-size: 1.3vw;
  }
  .tableMiddle{
    top: 65%;
    font-size: 1.3vw;
  }
  .tableBottom{
    top: 80%;
    font-size: 1.3vw;
  }
  /*Images*/
  #qrCodeImg{
    width: 35%;
    height: auto;
  }
  #ship{
    width: 50%;
    height: auto;
  }
  .gallery img{
    height: 80%;
    width: auto;
  }
  .amount{
    top: 88%;
    font-size: 2.2vw;
  }
  img{
    width: 13%;
    height: 80%;
  }
  .sideviewImg{
    width: 30%;
    height: 80%;
  }
}
@media(max-width: 1280px){
  /*Body*/
  body{
      max-width: 1280px;
      background-color: greenyellow;
  }
  h1{
    font-size: 2.5vw;
  }
  .btn {
    top: 20px;
    right: 25px;
    border-radius: 10px;
    font-size: 2vw;
  }
  .btnLeft {
    top: 20px;
    left: 25px;
    border-radius: 10px;
    font-size: 2vw;
  }
  .artBtn{
    top: 200px;
    font-size: 6vw;
  }
  /*Dropdown menu*/
  #settingLogo{
    width: 4%;
    height: auto;
    top: 5%;
    right: 2.5%;
  }
  .dropdownMenu{
    top: 6%;
    right: 0px;
    font-size: 1.4rem;

  }
  .gallery{
    height: 200px;
  }
  .tableTop{
    top: 45%;
    font-size: 1.3vw;
  }
  .tableMiddle{
    top: 60%;
    font-size: 1.3vw;
  }
  .tableBottom{
    top: 75%;
    font-size: 1.3vw;
  }
  /*Images*/
  #qrCodeImg{
    width: 35%;
    height: auto;
  }
  #ship{
    width: 50%;
    height: auto;
  }
  .gallery img{
    height: 80%;
    width: auto;
  }
  .amount{
    top: 88%;
    font-size: 2.2vw;
  }
  img{
    width: 17%;
    height: 80%;
  }
  .sideviewImg{
    width: 40%;
    height: 80%;
  }
}
@media(max-width: 1024px){
  /*Body*/
  body{
      max-width: 1024px;
      background-color: cadetblue;
  }
  h1{
    font-size: 3.5vw;
  }
  .btn {
    top: 20px;
    right: 25px;
    border-radius: 7px;
    font-size: 2.5vw;
  }
  .btnLeft {
    top: 20px;
    left: 25px;
    border-radius: 7px;
    font-size: 2.5vw;
  }
  .artBtn{
    top: 200px;
    font-size: 6vw;
  }
  /*Dropdown menu*/
  #settingLogo{
    width: 4%;
    height: auto;
    top: 5%;
    right: 2.5%;
  }
  .dropdownMenu{
    top: 4%;
    right: 0px;
    font-size: 1.4rem;

  }
  .gallery{
    height: 200px;
  }
  .tableTop{
    top: 42%;
    font-size: 1.5vw;
  }
  .tableMiddle{
    top: 57%;
    font-size: 1.5vw;
  }
  .tableBottom{
    top: 72%;
    font-size: 1.5vw;
  }
  /*Images*/
  #qrCodeImg{
    width: 35%;
    height: auto;
  }
  #ship{
    width: 50%;
    height: auto;
  }
  .gallery img{
    height: 80%;
    width: auto;
  }
  .amount{
    top: 82%;
    font-size: 3vw;
  }
  img{
    width: 17%;
    height: 80%;
  }
  .sideviewImg{
    width: 40%;
    height: 80%;
  }
}
@media(max-width: 768px){
  /*Body*/
  body{
      max-width: 768px;
      background-color: aquamarine;
  }
  h1{
    font-size: 4vw;
  }
  .btn {
    top: 20px;
    right: 25px;
    border-radius: 7px;
    font-size: 3vw;
  }
  .btnLeft {
    top: 20px;
    left: 25px;
    border-radius: 7px;
    font-size: 3vw;
  }
  .artBtn{
    top: 200px;
    font-size: 6vw;
  }
  /*Dropdown menu*/
  #settingLogo{
    width: 5%;
    height: auto;
    top: 5%;
    right: 2.5%;
  }
  .dropdownMenu{
    top: 3%;
    right: 0px;
    font-size: 1.4rem;

  }
  .gallery{
    height: 200px;
  }
  .tableTop{
    top: 40%;
    font-size: 2vw;
  }
  .tableMiddle{
    top: 55%;
    font-size: 2vw;
  }
  .tableBottom{
    top: 70%;
    font-size: 2vw;
  }
  /*Images*/
  #qrCodeImg{
    width: 35%;
    height: auto;
  }
  #ship{
    width: 50%;
    height: auto;
  }
  .gallery img{
    height: 80%;
    width: auto;
  }
  .amount{
    top: 80%;
    font-size: 4vw;
  }
  img{
    width: 17%;
    height: 80%;
  }
  .sideviewImg{
    width: 40%;
    height: 80%;
  }
}
@media(max-width: 640px){
  body{
      max-width: 640px;
      background-color: blue;
  }
  h1{
    font-size: 4vw;
  }
  .btn {
    top: 20px;
    right: 25px;
    border-radius: 7px;
    font-size: 3vw;
  }
  .btnLeft {
    top: 20px;
    left: 25px;
    border-radius: 7px;
    font-size: 3vw;
  }
  .artBtn{
    top: 200px;
    font-size: 6vw;
  }
  /*Dropdown menu*/
  #settingLogo{
    width: 6%;
    height: auto;
    top: 5%;
    right: 2.5%;
  }
  .dropdownMenu{
    top: 1.5%;
    right: 0px;
    font-size: 1.4rem;

  }
  .gallery{
    height: 200px;
  }
  .tableTop{
    top: 35%;
    font-size: 2.1vw;
  }
  .tableMiddle{
    top: 50%;
    font-size: 2.1vw;
  }
  .tableBottom{
    top: 65%;
    font-size: 2.1vw;
  }
  /*Images*/
  #qrCodeImg{
    width: 35%;
    height: auto;
  }
  #ship{
    width: 50%;
    height: auto;
  }
  .gallery img{
    height: 80%;
    width: auto;
  }
  .amount{
    top: 78%;
    font-size: 4vw;
  }
  img{
    width: 17%;
    height: 80%;
  }
  .sideviewImg{
    width: 40%;
    height: 80%;
  }
}
@media(max-width: 475px){
  body{
      max-width: 640px;
      background-color: cornflowerblue;
  }
  h1{
    font-size: 4vw;
  }
  .btn {
    top: 20px;
    right: 25px;
    border-radius: 7px;
    font-size: 3vw;
  }
  .btnLeft {
    top: 20px;
    left: 25px;
    border-radius: 7px;
    font-size: 3vw;
  }
  .artBtn{
    top: 200px;
    font-size: 6vw;
  }
  /*Dropdown menu*/
  #settingLogo{
    width: 6%;
    height: auto;
    top: 5%;
    right: 2.5%;
  }
  .dropdownMenu{
    top: 1.5%;
    right: 0px;
    font-size: 1.4rem;

  }
  .gallery{
    height: 200px;
  }
  .tableTop{
    top: 35%;
    font-size: 2.1vw;
  }
  .tableMiddle{
    top: 50%;
    font-size: 2.1vw;
  }
  .tableBottom{
    top: 65%;
    font-size: 2.1vw;
  }
  /*Images*/
  #qrCodeImg{
    width: 35%;
    height: auto;
  }
  #ship{
    width: 50%;
    height: auto;
  }
  .gallery img{
    height: 80%;
    width: auto;
  }
  .amount{
    top: 78%;
    font-size: 4vw;
  }
  img{
    width: 17%;
    height: 80%;
  }
  .sideviewImg{
    width: 40%;
    height: 80%;
  }
}
@media(max-height: 450px){
    body{
      max-height: 450px;
      background-color: aqua;
    }
    h1{
    font-size: 1.7vw;
  }
  .btn {
    top: 20px;
    right: 25px;
    border-radius: 10px;
    font-size: 1.5vw;
  }
  .btnLeft {
    top: 20px;
    left: 25px;
    border-radius: 10px;
    font-size: 1.5vw;
  }
  .artBtn{
    top: 150px;
    font-size: 4vw;
  }
  /*Dropdown menu*/
  #settingLogo{
    width: 4%;
    height: auto;
    top: 5%;
    right: 2.5%;
  }
  .dropdownMenu{
    top: 6%;
    right: 0px;
    font-size: 1.4rem;
  }
  .gallery{
    height: 200px;
  }
  .tableTop{
    top: 45%;
    font-size: 1vw;
  }
  .tableMiddle{
    top: 60%;
    font-size: 1vw;
  }
  .tableBottom{
    top: 75%;
    font-size: 1vw;
  }
  /*Images*/
  #qrCodeImg{
    width: 28%;
    height: auto;
  }
  #ship{
    width: 50%;
    height: auto;
  }
  .gallery img{
    height: 80%;
    width: auto;
  }
  .amount{
    top: 86%;
    font-size: 2.1vw;
  }
  img{
    width: 10%;
    height: 80%;
  }
  .sideviewImg{
    width: 30%;
    height: 80%;
  }
}